.summary {
  transition: width cubic-bezier(0.3, 0.55, 0.1, 1) 0.4s;
  box-sizing: border-box;
  z-index: 201;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  color: #333;
}

.title {
  margin: 0px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
}

.lastUpdate {
  font-size: 12px;
  color: #767676;
  line-height: 20px;
  padding-bottom: 12px;
}

.infoConfirmed {
  display: flex;
  align-items: center;
}

.confirmed {
  font-size: 32px;
  color: #de3700;
  font-weight: bold;
  line-height: 40px;
}

.deltaConfirmed {
  color: #767676;
  border-radius: 22px;
  font-size: 13px;
  line-height: 22px;
  padding: 4px 8px;
  margin-left: 8px;
  text-align: right;
  background-color: #f4c363;
  font-weight: 700;
}

.infoDetail {
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.info:first-child {
  padding-top: 12px;
}

.info {
  display: flex;
  padding-top: 16px;
  grid-template-columns: 8px 20px min-content;
  align-items: center;
  grid-gap: 16px 8px;
  line-height: 20px;
  margin-right: 36px;
}

.description {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
}

.color {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.indicatorActive {
  composes: color;
  background: #f4c363;
}

.indicatorRecovered {
  composes: color;
  background: #60bb69;
}

.indicatorFatal {
  composes: color;
  background: #767676;
}

.case {
  position: relative;
  color: #767676;
  margin-left: 16px;
  font-size: 16px;
  font-weight: 600;
}

.case::after {
  content: '';
  display: block;
  position: absolute;
  height: 6px;
  bottom: 1px;
  width: 100%;
  opacity: 0.5;
  transition: all cubic-bezier(0.3, 0.55, 0.1, 1) 0.7s;
}

.case:hover::after {
  height: 8px;
  opacity: 0.3;
}

.indicatorActive ~ .case::after {
  background: #f4c363;
}

.indicatorRecovered ~ .case::after {
  background: #60bb69;
}

.indicatorFatal ~ .case::after {
  background: #767676;
}
