.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 365px auto;
  grid-auto-rows: min-content;
  grid-gap: 8px 0px;
  overflow: hidden;
}

.nav {
  grid-column: 1/2;
  grid-row: 1/4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  background: #de370014;
  border-right: 1px solid #fdf6e8;
}

.logoArea {
  padding-top: 16px;
  padding-bottom: 32px;
  display: grid;
  place-items: center;
}

.logo {
  height: 10vmin;
  width: 10vmin;
}

.logoTitle {
  font-weight: 900;
  font-size: 23px;
  color: #00809d;
}

.countrySelectArea {
  padding: 16px;
  height: calc(100vh - 240px);
}

.content {
  padding: 24px;
  grid-column: 2/3;
  grid-row: 1/4;
  display: grid;
  grid-template-rows: min-content auto;
}

.summary {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.timeline {
  padding-top: 12px;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  flex: 1;
}

.footer {
  padding: 6px 16px;
  color: #767676;
  position: relative;
  font-size: 13px;
  padding-left: 39px;
  padding-bottom: 24px;
}

.footer::before {
  content: '!';
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  background-color: #767676;
  position: absolute;
  left: 16px;
  color: #f2f2f2;
  text-align: center;
}

.dataSource {
  color: #767676;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 600;
  margin-left: 8px;
}
